<div class="container">

    <h2>Wildlife Tracker</h2>
    <br>
    <div class="row">

    <div class="col-md-5" col-xs-12>
    <p>CONTENT</p>
    </div>

    <div class="col-md-2" col-xs-12 class="line">
    <p>CONTENT</p>
    </div>


    <div class="col-md-5" col-xs-12>
    <p>CONTENT</p>
    </div>

    <hr>



    <br>
    <a href="">link</a>
    <br>
    <a href="">link</a>
</div>
